* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* start header */
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

/* end header */

/* start carousel  */
#portfolio__carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-indicators {
  bottom: 30px;
}
.carousel-item {
  position: relative;
  height: 100vh;
}
.carousel-item::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#portfolio__carousel .carousel-indicators .active {
  /* opacity: 1; */
  background-color: #35a22c;
}

header .nav-item .nav-link {
  position: relative;
  color: white;
  margin: 0 20px;
  transition: 0.3s;
  overflow: hidden;
}
header .nav-item .nav-link:hover {
  color: #35a22c;
}
header .nav-item .nav-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #35a22c;
  bottom: 0px;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s;
}
header .nav-item .nav-link:hover::after {
  transform: translateX(0px);
}

.nav-item.active .nav-link {
  color: #35a22c;
}
.nav-item.active .nav-link::after {
  transform: translateX(0px);
}
/* end carousel  */
/* Star project */
#portfolio__project .nav{
  justify-content: center;
}
#portfolio__project .card{
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#portfolio__project .nav-pills .nav-link.active{
  background: #35a22c;
  color: white;
  border-radius: #35a22c;
}

#portfolio__project .nav-pills .nav-link{
  border: 1px solid #1a1d2d;
  color: #1a1d2d;
  margin: 0 20px;
}
#portfolio__project .card-body{
  border:  1px solid transparent;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  transition: 0.3s;
}
#portfolio__project .card:hover .card-body{
  border-color: #35a22c;
}
/* End project */
/* star feature  */
.overplay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  }



#feature{
  background: url(./image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 500px 0 120px 0;
  background-attachment: fixed;
  position: relative;
}

#feature .overplay{
  background: rgba(7,10,12,.72);
}


.row{
  display: flex;
  margin-top: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}
.feature-item{
  padding: 40px 40px;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  transition: 0.6s;
}

.feature-item i{
  color: #35a22c;
  font-size: 48px;
  justify-content: center;
}

.feature-item h4{
  padding-top: 15px;
  text-align: center;
  font-weight: 800;
}

.feature-item p{
  font-size: 16px;
  padding-top: 15px;
  list-style: 24px;
  text-align: center;

}

.feature-item:hover{
  background: black;
  border-color: #fff;
}



/* End feature */
/* Start Aware */
#aware{
  position: relative;
  color: #585858;
  padding: 70px 0;
}
.aware__bg{
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.aware-left{
  background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
    margin-left: 70px;
}
.row{
  display: flex;
  margin-top: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}

.aware-left h2{
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 800;
}
.col{
  /* -ms-flex-preferred-size: 0; */
  flex-basis: 0;
  /* -ms-flex-positive: 1; */
  flex-grow: 1;
  max-width: 100%;
}
 img{
  vertical-align: middle;
    border-style: none;
}
/* End Aware */
/* Star footer */
footer {
  background: #222;
}
.py-5{
  padding-top: 3rem !important;
}
.py-5{
  padding-bottom: 3rem!important;
}
.footer__main a{
  margin-right: 10px;
  color: #aaa;
  /* transition: 0.3s; */
}

.footer__main i{
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all .5s;
  transition: 0.3s;
}
.footer__main a i:hover{
  border-color: #35a22c;
  
}
.footer__copies{
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}

.footer__copies p{
  margin: 0;
  color: #aaa;
}

.footer__copies a{
  color: #aaa;
  transition: 0.3s;
  text-decoration: none;
}
.footer__copies a:hover{
  color: #35a22c;
}


/* End footer */